* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul #menu {
    list-style: none;
    position: fixed;
}
ul #menu li {
    display: inline-block;
    text-decoration: none;
}
#fullPage .section {
    max-width: 750px;
    margin: 0 auto;
}
.section {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}
.section h1,
.section h3 {
    padding: 0px 8px;
}
#section0 {
    background-color: #9BC7ED;
}
#section0 .offset * {
    position: relative;
    z-index: 3;
}
h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    font-weight: 300;
    max-width: 530px;
    margin: 0 auto;
}
.text-left { text-align: left }
h1 { font-size: 6vh }
h3 { font-size: 2.8vh }
div.img-box {
    cursor: pointer;
    display: inline-block;
    height: 40vh;
    margin: 2.5vh 0.25vw 0 0.25vw;
    float: left;
    padding: 0px;
    position: relative;
    width: 30%;
}
div.img-box h3 { margin: 0 0 5px 0 }
div.divider {
    display: inline-block;
}
div.divider.left {
    width: 32%;
    float: left;
    padding: 0.5vw 0 0 2.6vw;
}
div.divider.right {
    width: 58%;
    float: right;
}
img {
    width: 100%;
    margin: 0 auto;
}
div.img-center-box {
    border: solid 1px red;
    width: 100%;
    margin: 0 auto;
}
img.centered {
    margin: 10px auto;
    display: block;
    text-align: center;
}
img#coal-woman-main {
    max-width: 750px;
    z-index: 0;
    position: absolute;
    top: 0;
    min-width: 700px;
    margin: 0;
}
img#blue-bg {
    max-width: 750px;
    position: absolute;
    top: 325px;
    z-index: 2;
}
img#sketch-aerial-view {
    width: 250px;
}
img#coin0, img#coin1 {
    width: 200px;
    display: block;
    text-align: center;
    margin: 25px auto;
}
img#maquette {
    width: 250px;
}
.offset {
    margin-top: 65%;
}
.allcaps {
    text-transform: uppercase;
}
.strike {
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}
.strike:before {
    background-color: #4682b4;
    content: '';
    display: block;
    height: 2px;
    position: relative;
    margin: 5px auto;
    width: 85%;
}
