/***************************************
********** GENERAL STYLING *************
****************************************/

/*********** TEXT STYLING ************/
* {
    font-family: "Baskerville Old Face", Helvetica, Arial, sans-serif;
}
h1, h2, h3, p {
    text-align: center;
    font-weight: 300;
    max-width: 530px;
    margin: 0 auto;
}
h1 { font-size: 6vh }
h2 { font-size: 4.3vh }
h3 { font-size: 2.8vh }
.allcaps { text-transform: uppercase }
.text-left { text-align: left }
.section h1,
.section h3 {
    padding: 0px 8px;
}

/*********** SLIDE #1 H1 OUTLINE ************/
.strike {
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}
.strike:before {
    background-color: #4682b4;
    content: '';
    display: block;
    height: 2px;
    margin: 5px auto;
    width: 85%;
}

/*********** SECTION LAYOUT ************/
.offset { margin-top: 65% }
.section {
    margin: 0 auto;
    max-width: 750px;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}
#section0 { background-color: #9bc7ed }
#section0 .offset * {
    position: relative;
    z-index: 3;
}
.raised {
    background-color: #9BC7ED;
    margin-top: 125px;
}
.raised * {
    max-width: 750px;
    position: relative;
    width: 100%;
    z-index: 3 !important;
}
.fill {
    background-color: #9BC7ED;
    height: 500px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

/*********** IMAGE LAYOUT ************/
div.divider { display: inline-block }
div.divider.left {
    width: 32%;
    float: left;
    padding: 0.5vw 0 0 2.6vw;
}
div.divider.right {
    width: 58%;
    float: right;
}

img.w-auto { width: auto !important }
img.w60 { width: 60% }
img.w75 { width: 75% !important }

img {
    width: 100%;
    max-width: 750px;
}

img.centered {
    display: block;
    margin: 10px auto;
    text-align: center;
}
img#coal-woman-main {
    margin: 0;
    min-width: 700px;
    position: absolute;
    top: 0;
    z-index: 0;
}
img#blue-bg {
    position: absolute;
    top: 325px;
    z-index: 2;
}
img#blue-bg-2 {
    position: absolute;
    top: 100px;
    z-index: 2;
}
img#coin0, img#coin1 {
    width: 200px;
    display: block;
    text-align: center;
    margin: 25px auto;
}
img#maquette {
    width: 250px;
}

/*********** MEDIA QUERIES ************/
@media (min-device-width: 320px) and (max-device-width: 768px) {
    @media only screen and (orientation:portrait) {
        /* font needs to be generally larger on mobile */
        h1, h2, h3, p { max-width: 85% }
        h1 { font-size: 5vh }
        h2 { font-size:  3.1vh }
        p { font-size: 2vh }

        /* make sure these images stretch to the full width of the page */
        #fullPage .section,
        img#blue-bg,
        img#blue-bg-2,
        img#coal-woman-main {
            max-width: 100%;
            width: 100%;
        }

        /* move 40px higher so it overlaps with the blue wave image */
        .raised { margin-top: -40px }
        /* cover the entire width so no white shows */
        .raised * { min-width: 100% }
        /* .fill on slide#10 needs to be longer to cover the screen entirely */
        .fill { height: 1000px }
    }

    @media only screen and (orientation:landscape) {
        /* otherwise part of the slide is cut off on Plus iPhones */
        #section9 .fp-tableCell,
        #section0 .fp-tableCell { vertical-align: top }

        /* font sizes need to be larger on smaller screens for reading */
        h2 { font-size: 5.3vh }
        h3 { font-size: 3.8vh }
        /* except on the bio slide, which has a lot of text */
        #section6 h2 { font-size:  4.5vh }

        /* move the blue wave image up so the first slide can fit the title */
        img#blue-bg { top: 200px }
        .offset { margin-top: 46% }

        /* slide1 needs to be recentered on mobile */
        #section1 .divider h1 {
            width: 100%;
            margin-top: 15%;
            font-size: 7vh;
        }
        #section1 .left { width: 40% }
        #section1 .right { width: 50% }

        /* split slides vertically instead of horizontally on mobile */
        .section.h-split h1,
        .section.h-split h2 {
            float: right;
            margin-top: 25px;
            padding-left: 5px;
            width: 45%;
        }
        /* hide the paragraph containing "the model" on mobile landscape */
        .section.h-split p { display: none; }
        /* images need to be largened too */
        .section.h-split img {
            float: left;
            max-width: 50%;
        }

        /* since slide#10 aligns at the top, it needs to be moved up */
        img#blue-bg-2 { top: 50px }
        .raised { margin-top: 250px }
    }
}
